body {
  background-color: LightCyan;
  text-align: center;
 }

/* * {
  outline: 3px solid limegreen !important;
  background: rgba(0, 151,0, 0.1) !important;
} */

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

hr {
  border: dotted 6px;
  border-bottom: none;
  width: 4%;
  margin-bottom: 40px;
}

span {
  text-decoration: underline;
}
.menu2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.vorspeisen .risher_salat {
  flex: 0 0 814px;
  padding: 20px;
}

/* .left {
  float: left;
  width: 50%;
  background-color: LightCyan;
}

.right {
  float: left;
  width: 50%;
  background-color: LightBlue;
} */

.etterem {
  text-decoration: underline;
  font-family: 'Caveat', cursive;
}

.haz {
  max-width: 20%;
  max-height: 20%;
}


.szoveg {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.szoveg2 {
  display: inline;
  vertical-align: middle;
  margin: 0;
}

.hely_img {
  max-width: 1%;
  max-height: 1%;
}

.email_img {
  
  max-width: 4rem;
  max-height: 4rem;
}

.web_img {
 
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.foto {
  max-width: 20%;
  max-height: 20%;
}
.kep {
  float: left;
}

.eloetel {
  margin-left: auto;
  margin-right: auto;
}

.show_inline {
  display: inline;
  
}

.nev {
  font-style: italic;
  font-family: 'Indie Flower', cursive, 'The Nautigal', cursive, sans-serif; 
  font-size: 1.5em;
  text-align: left;
}

.euro {
  padding-left: 75px;
  text-align: right;
  
}

.alergy {
  padding-left: 25px;
  text-align: left;
}

li {
  list-style-type: none;
 }

.button {
  background-color: transparent;
  border-color: transparent;
  
  margin-left: auto;
  margin-right: auto;
}

.Hauptgericht {
  background-color: aquamarine;
}

@media screen and (max-width: 768px) {
  .menu2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width: 990px) {
  .contact {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
}
 
@media screen and (max-width: 800px) {
  .etel {
    display: none;
  }
  aside {
    order: 1;
    flex: 1;
  }
  
}